/* Animated Tech Logo Background */

.simple-background {
    position: fixed;
    inset: 0;
    background: linear-gradient(180deg, #000000 0%, #0a0a0a 50%, #000000 100%);
    z-index: -1;
    overflow: hidden;
}

/* Floating tech logos - increased brightness */
.tech-logo {
    position: absolute;
    opacity: 0.15;
    /* Increased from 0.08 */
    animation: float-logo 20s infinite ease-in-out;
    filter: grayscale(0.2) brightness(1.3);
    /* Added 30% brightness */
    transition: all 0.3s ease;
}

.tech-logo:hover {
    opacity: 0.35;
    /* Increased from 0.2 */
    filter: grayscale(0) brightness(1.5);
    transform: scale(1.2);
}

/* Different sizes for variety */
.tech-logo.small {
    width: 40px;
    height: 40px;
}

.tech-logo.medium {
    width: 60px;
    height: 60px;
}

.tech-logo.large {
    width: 80px;
    height: 80px;
}

/* Floating animation */
@keyframes float-logo {

    0%,
    100% {
        transform: translateY(0) rotate(0deg);
    }

    25% {
        transform: translateY(-20px) rotate(5deg);
    }

    50% {
        transform: translateY(-10px) rotate(-5deg);
    }

    75% {
        transform: translateY(-30px) rotate(3deg);
    }
}

/* Individual logo positions and delays - 47 logos */
.tech-logo:nth-child(1) {
    top: 10%;
    left: 5%;
    animation-delay: 0s;
}

.tech-logo:nth-child(2) {
    top: 20%;
    right: 8%;
    animation-delay: -2s;
}

.tech-logo:nth-child(3) {
    top: 35%;
    left: 12%;
    animation-delay: -4s;
}

.tech-logo:nth-child(4) {
    top: 50%;
    right: 15%;
    animation-delay: -6s;
}

.tech-logo:nth-child(5) {
    top: 65%;
    left: 8%;
    animation-delay: -8s;
}

.tech-logo:nth-child(6) {
    top: 75%;
    right: 10%;
    animation-delay: -10s;
}

.tech-logo:nth-child(7) {
    top: 15%;
    left: 85%;
    animation-delay: -12s;
}

.tech-logo:nth-child(8) {
    top: 40%;
    right: 5%;
    animation-delay: -14s;
}

.tech-logo:nth-child(9) {
    top: 60%;
    left: 90%;
    animation-delay: -16s;
}

.tech-logo:nth-child(10) {
    top: 80%;
    right: 20%;
    animation-delay: -18s;
}

.tech-logo:nth-child(11) {
    top: 25%;
    left: 50%;
    animation-delay: -3s;
}

.tech-logo:nth-child(12) {
    top: 70%;
    left: 45%;
    animation-delay: -7s;
}

.tech-logo:nth-child(13) {
    top: 30%;
    right: 30%;
    animation-delay: -11s;
}

.tech-logo:nth-child(14) {
    top: 55%;
    left: 25%;
    animation-delay: -15s;
}

.tech-logo:nth-child(15) {
    top: 85%;
    right: 40%;
    animation-delay: -5s;
}

.tech-logo:nth-child(16) {
    top: 12%;
    left: 35%;
    animation-delay: -9s;
}

.tech-logo:nth-child(17) {
    top: 45%;
    right: 25%;
    animation-delay: -13s;
}

.tech-logo:nth-child(18) {
    top: 68%;
    left: 65%;
    animation-delay: -17s;
}

.tech-logo:nth-child(19) {
    top: 22%;
    right: 50%;
    animation-delay: -1s;
}

.tech-logo:nth-child(20) {
    top: 88%;
    left: 20%;
    animation-delay: -19s;
}

.tech-logo:nth-child(21) {
    top: 5%;
    right: 35%;
    animation-delay: -4.5s;
}

.tech-logo:nth-child(22) {
    top: 42%;
    left: 75%;
    animation-delay: -8.5s;
}

.tech-logo:nth-child(23) {
    top: 58%;
    right: 60%;
    animation-delay: -12.5s;
}

.tech-logo:nth-child(24) {
    top: 78%;
    left: 55%;
    animation-delay: -16.5s;
}

.tech-logo:nth-child(25) {
    top: 18%;
    right: 18%;
    animation-delay: -2.5s;
}

.tech-logo:nth-child(26) {
    top: 48%;
    left: 15%;
    animation-delay: -6.5s;
}

.tech-logo:nth-child(27) {
    top: 72%;
    right: 45%;
    animation-delay: -10.5s;
}

.tech-logo:nth-child(28) {
    top: 8%;
    left: 60%;
    animation-delay: -14.5s;
}

.tech-logo:nth-child(29) {
    top: 38%;
    right: 12%;
    animation-delay: -18.5s;
}

.tech-logo:nth-child(30) {
    top: 62%;
    left: 40%;
    animation-delay: -3.5s;
}

.tech-logo:nth-child(31) {
    top: 28%;
    right: 70%;
    animation-delay: -7.5s;
}

.tech-logo:nth-child(32) {
    top: 52%;
    left: 80%;
    animation-delay: -11.5s;
}

.tech-logo:nth-child(33) {
    top: 82%;
    right: 55%;
    animation-delay: -15.5s;
}

.tech-logo:nth-child(34) {
    top: 14%;
    left: 22%;
    animation-delay: -19.5s;
}

.tech-logo:nth-child(35) {
    top: 44%;
    right: 38%;
    animation-delay: -5.5s;
}

.tech-logo:nth-child(36) {
    top: 66%;
    left: 70%;
    animation-delay: -9.5s;
}

.tech-logo:nth-child(37) {
    top: 32%;
    right: 65%;
    animation-delay: -13.5s;
}

.tech-logo:nth-child(38) {
    top: 76%;
    left: 30%;
    animation-delay: -17.5s;
}

.tech-logo:nth-child(39) {
    top: 24%;
    right: 22%;
    animation-delay: -1.5s;
}

.tech-logo:nth-child(40) {
    top: 54%;
    left: 50%;
    animation-delay: -5.5s;
}

.tech-logo:nth-child(41) {
    top: 90%;
    right: 28%;
    animation-delay: -9.5s;
}

.tech-logo:nth-child(42) {
    top: 16%;
    left: 68%;
    animation-delay: -13.5s;
}

.tech-logo:nth-child(43) {
    top: 46%;
    right: 48%;
    animation-delay: -17.5s;
}

.tech-logo:nth-child(44) {
    top: 64%;
    left: 18%;
    animation-delay: -2.5s;
}

.tech-logo:nth-child(45) {
    top: 36%;
    right: 82%;
    animation-delay: -6.5s;
}

.tech-logo:nth-child(46) {
    top: 74%;
    left: 62%;
    animation-delay: -10.5s;
}

.tech-logo:nth-child(47) {
    top: 26%;
    right: 52%;
    animation-delay: -14.5s;
}

/* Mobile optimization - show more logos but reduce opacity */
@media (max-width: 767px) {
    .tech-logo:nth-child(n+26) {
        display: none;
        /* Show 25 logos on mobile */
    }

    .tech-logo {
        opacity: 0.1;
        /* Slightly increased for mobile */
    }
}